<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type'/>
    <title>Formtastic Validation</title>

    <%= stylesheet_link_tag 'formtastic' %>
    <%= stylesheet_link_tag 'formtastic_changes' %>
    <%= javascript_include_tag 'livevalidation.min' %>
    <%= javascript_include_tag 'formtastic_validation' %>
    <script type="text/javascript">
      function initialize() {
          var formtasticValidation = new FormtasticValidation;
          formtasticValidation.initialize();
      }
    </script>
  </head>
  <body onload="initialize()">
    <%= yield %>
  </body>
</html>
